:root {
	--primary-font: 'Raleway', sans-serif;
	--font-big: 1.5em;
	--font-normal: 1em;
	--font-big-mobile: 1.2em;
	--font-normal-mobile: .8em;

	--main-white: #fff; 
}

html {
	font-family: var(--primary-font);
	background-color: #F6F3D7;
}

h1 {
	font-size: var(--font-big);
}

p {
	font-style: var(--font-normal);
}

main {
	display: grid;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}



nav {
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr;
		// align-items: center;
	}

	li {
		list-style: none;
	}

	li ul {
		visibility: hidden;
	}
} 

article {
	border-radius: .3rem;
	background-color: var(--main-white);
	overflow: hidden;
}

// Article
article:nth-of-type(1) {
	display: grid;
	grid-template-areas:
		"title title image"
		"content content image"
	;
	padding: 1em;
	h1 {
		grid-area: title;
	}
	img {
		grid-area: image;
		height: 50%;
		align-self: center;
	}
	p {
		grid-area: content;
	}
}

article:nth-of-type(2) {
	margin-top: 1em; // Will be deleted when done
	
	// display: grid;
	// grid-template-columns: 1fr;
	// grid-template-rows: minmax(2em, 5em) 1fr 5em;
	// grid-template-rows: auto  auto;
	// grid-template-rows: auto-fit 1fr auto;
	// grid-auto-flow: dense;
	
	max-width: 20rem;
}

figure {
	margin: 0;
	img {
		max-height: 20em;
	}
}

figcaption {
	padding: 1em;
}

li {
	// list-style: none;
}

@media all and (max-width: 35em) {
	article {

	}

	h1 {
		font-size: var(--font-big-mobile);
	}
	
	p {
		font-style: var(--font-normal-mobile);
	}
}

@media all and (min-width: 35em) {
	body {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 
			"nav nav nav"
			"login login login"
	}
}
