:root {
    --primary-font: 'Ampersand', 'Work Sans' ,'Raleway', sans-serif;
    --font-big: 1.2em;
    --font-normal: .9em;
    --font-small: .8em;
    --font-big-mobile: 1.1em;
    --font-normal-mobile: .9em;
    --border-radius: .2em;
	 --main-white: #fff;
	 --black: #201F24;
	 --main-gray: #F2F2F4;
	 --focus-color: tomato;
}

@font-face {
    font-family: Ampersand;
    src: local('Big caslon'), local('Bakery'), local('Athelas'), local('Baskerville'), local('Goudy Old Style'), local('Garamond'), local('Palatino');
    unicode-range: U+26;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*==========================
=== Default/Reset styles
===========================*/

html {
    font-family: var(--primary-font);
	//  background-color: #F6F3D7;
}

h1, p {
	color: var(--black);
}

h1 {
	 font-size: var(--font-big);
	 margin: 0;
	 font-weight: 900; 
}

p {
    font-style: var(--font-normal);
}

img {
    width: 100%;
   //  height: 100%;
    object-fit: cover;
}

figure {
    margin: 0;
    img {
      //   max-height: 20em;
    }
}

figure {
	// max-width: 500px;
	// max-width: min-content;
	max-width: max-content;
	margin: auto;
}

figure > img { max-width: inherit; }


figcaption {
    padding: 1.5rem;
}

ul {
    padding: 0;
}

li {
    // list-style: none;
}

a {

}

[type="radio"] {
	position: absolute;
	// left: -999999em;
}

:focus {
	// background: pink;
}

/*==========================
=== Our main container
===========================*/
main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	grid-gap: 1.5rem;
	
	padding: 0 1rem;
	
	transition: .6s background;
}

/*==========================
=== The navigation
===========================*/

nav {
	font-size: var(--font-small);
	ul {
		 display: grid;
		 grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
		 // grid-auto-columns: auto;
		 // grid-template-rows: 1fr;
		 // align-items: center;
	}
	li {
		 list-style: none;
	}
	li ul {
		 visibility: hidden;
		 max-height: 0;
	}
}

/*==========================
=== The loginform
===========================*/

body {
    &>form:first-of-type {
		  display: none;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 2em);
      //   grid-template-areas: "";
		  grid-auto-rows: 2em;
        z-index: 100;
		  
        position: fixed;
        right: 0;
		  left: 0;
		  
		  max-width: 22em;
        background: var(--main-gray);
		  
        margin-right: auto;
        margin-left: auto;
        padding: 1em;
        border-radius: var(--border-radius);
        &:target {
				display: grid;
		  }
        &:target~main::before {
				content: "";
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				background: rgba(0,0,0,.8);
		  }
    }
}


/*==========================
=== Cards
===========================*/

article {
	position: relative;
	// overflow: hidden;
	border-radius: var(--border-radius);
	// max-width: 20rem;
	
	h1 {
		// padding: 1.2rem 1rem;
	}
	figure {
		display: grid;
		grid-template-rows: 1fr auto;
		// grid-template-rows: 4em 1fr auto;

		background-color: var(--main-gray);
		transition: .3s all;
		
		&:focus,
		&:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		}

		&:target {
			
		}
	
	}
}

// Article with media
// article:nth-of-type(1) {
//     display: grid;
// 	 grid-template-areas:
// 		 "title title image"
// 	 	"content content image";
//     padding: 1em;
//     h1 {
//         grid-area: title;
//     }
//     img {
//         grid-area: image;
//         height: 50%;
//         align-self: center;
//     }
//     p {
//         grid-area: content;
//     }
// }



/*==========================
=== Rating fieldset
===========================*/

fieldset {
	// display: grid;
	// grid-template-columns: repeat(10, 5em);
	// grid
	// grid-template-columns: repeat(auto-fit, 1fr);
	// grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));

	margin-bottom: 1rem;
  	text-align: center;
  	border: none;

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	input {
		&+label {
			svg {
				transition: .3s all;
				border: 0px solid var(--focus-color);
				border-radius: 100%;
			}
		}

		&:focus,
		&:hover
		{
			outline: red;
			&+label svg {
				border: 3px solid var(--focus-color);
			}
		}
	}

	svg {
		height: 2.5em;
	}
}


@media all and (max-width: 40em) {
	main {
		grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
	}
    h1 {
		  font-size: var(--font-big-mobile);
    }
    p {
        font-size: var(--font-normal-mobile);
	 }
	 

	 article {
		// max-width: 20rem;
		// margin-top: 1em; // Will be deleted when done
		h1 {
			// padding: .9rem 1rem;
		}
		&>div {
			// display: grid;
			// grid-template-rows: 3em 1fr auto;
			// grid-template-rows: 1fr auto;
		}
	}
}

@media all and (min-width: 40em) {
    body {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "nav nav nav" "login login login"
    }
}