:root {
	--primary-font: 'Raleway', sans-serif;
	--font-big: 1.5em;
	--font-normal: 1em;
	--font-big-mobile: 1.2em;
	--font-normal-mobile: .8em;

	--border-radius: .2em;

	--main-white: #fff; 
}

html {
	font-family: var(--primary-font);
	background-color: #F6F3D7;
}

body {
	& > form:first-of-type {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 2em);
		grid-template-areas:
		"";
		grid-auto-rows: 2em;
		
		// position: fixed;
		right: 0;
		left: 0;
		max-width: 22em;
		z-index: 100;

		margin-right: auto;
		margin-left: auto;
		padding: 1em;
		border-radius: .3rem;

		background: var(--main-white);
	}
}

h1 {
	font-size: var(--font-big);
}

p {
	font-style: var(--font-normal);
}

main {
	display: grid;
	transition: .6s background;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// The loginform
[for="account-btn"] {
	color: red
}

[name="account-btn"]:checked ~ main {
	// display: none;
	// height: 200px
	// filter: blur(5px);
	// filter: blur(3px) contrast(.8) brightness(.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,.8);
}


[name="account-btn"]:checked ~ form:nth-of-type(1) {
	// display: none;
	// height: 200px
	// filter: blur(5px);
	// filter: blur(3px) contrast(.8) brightness(.8);
	position: fixed;
	right: 0;
	left: 0;
	max-width: 22em;
	z-index: 100;
	margin-right: auto;
	margin-left: auto;
	padding: 1em;
	border-radius: var(--border-radius);
}

[type="checkbox"] {
	// position: absolute;
	// top: -9999999em;
	// right: -999999em;
}


// The navigation
nav {
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr;
		// align-items: center;
	}

	li {
		list-style: none;
	}

	li ul {
		visibility: hidden;
	}
} 


// Our loginform



article {
	border-radius: var(--border-radius);
	background-color: var(--main-white);
	overflow: hidden;
}

// Article
article:nth-of-type(1) {
	display: grid;
	grid-template-areas:
		"title title image"
		"content content image"
	;
	padding: 1em;
	h1 {
		grid-area: title;
	}
	img {
		grid-area: image;
		height: 50%;
		align-self: center;
	}
	p {
		grid-area: content;
	}
}

article:nth-of-type(2) {
	margin-top: 1em; // Will be deleted when done
	
	// display: grid;
	// grid-template-columns: 1fr;
	// grid-template-rows: minmax(2em, 5em) 1fr 5em;
	// grid-template-rows: auto  auto;
	// grid-template-rows: auto-fit 1fr auto;
	// grid-auto-flow: dense;
	
	max-width: 20rem;
}

figure {
	margin: 0;
	img {
		max-height: 20em;
	}
}

figcaption {
	padding: 1em;
}

li {
	// list-style: none;
}

@media all and (max-width: 40em) {
	h1 {
		font-size: var(--font-big-mobile);
	}
	
	p {
		font-style: var(--font-normal-mobile);
	}
}

@media all and (min-width: 40em) {
	body {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 
			"nav nav nav"
			"login login login"
	}
}
