:root {
    --primary-font: 'Ampersand', 'Work Sans' ,'Raleway', sans-serif;
    --font-big: 1.2em;
    --font-normal: .9em;
    --font-small: .8em;
    --main-white: #fff;
    --black: #515057;
    --black2: #6b6972;
    --main-gray: #F2F2F4;
    --main-bg: #F8F9FA;
    --focus-color: tomato;
    --border-radius: .8rem;
    --def-transition: .3s all;
}

@media all and (min-width) {
    --font-big: 1.1em;
  --font-small: .8em;
}

@font-face {
    font-family: Ampersand;
  src: local("Big caslon"), local("Bakery"), local("Athelas"), local("Baskerville"), local("Goudy Old Style"), local("Garamond"), local("Palatino");
  unicode-range: U+26;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==========================
=== Default/Reset styles
===========================*/
html {
    font-family: var(--primary-font);
}

h1 {
    font-size: var(--font-big);
    font-weight: 900;
    margin: 0;
    color: var(--black);
}

p {
    font-style: var(--font-normal);
    color: var(--black2);
}

img {
    width: 100%;
    object-fit: cover;
}

figure {
    max-width: max-content;
    margin: auto;
}

figure > img {
    max-width: inherit;
}

figcaption {
    padding: 1.5rem;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

[type="radio"] {
    position: absolute;
    left: -999999em;
}

/*==========================
=== Our containers
===========================*/
body {
    display: grid;
    padding-top: 2rem;
    background: var(--main-bg);
    grid-template-areas: "header" "content" "mainnav";
}

main {
    grid-area: content;
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: minmax(120px, auto);
    grid-auto-flow: dense;
    padding: 0 1rem;
    transition: var(--def-transition);
}

@media all and (min-width: 40rem) {
    body {
        grid-template-areas: "header mainnav" "content content";
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 50rem) {
    body {
        grid-template-areas: "header mainnav mainnav" "content content content";
    }

    main {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (min-width: 70rem) {
    main {
        grid-template-columns: repeat(6, 1fr);
    }
}

/*==========================
=== Header
===========================*/
header {
    grid-area: header;
    margin: 0 1.5rem;
}

/*==========================
=== The navigation
===========================*/
nav {
    grid-area: mainnav;
}

nav li {
    list-style: none;
}

nav ul ul {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

nav ul ul:focus, nav ul ul:focus-within {
    visibility: visible;
    opacity: 1;
    height: auto;
}

[href="/products"]:hover + ul, [href="/products"]:focus + ul, [href="/products"]:focus-within + ul {
    opacity: 1;
    height: auto;
}

/*==========================
=== The loginform
===========================*/
/*==========================
=== Card Main
===========================*/
article {
    height: min-content;
    border-radius: var(--border-radius);
    padding: 1rem;
    transition: var(--def-transition);
}

article:focus, article:hover {
    background: rgba(0, 0, 0, 0.1);
}

article img {
    border-radius: var(--border-radius);
}

article:nth-of-type(even) {
    background: var(--main-white);
    position: fixed;
    top: 5%;
    max-width: 90%;
    margin: 0 5%;
    visibility: hidden;
    opacity: 0;
    transition: var(--def-transition);
}

article:nth-of-type(even):target {
    visibility: visible;
    opacity: 1;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.3);
}

@media all and (min-width: 40rem) {
    article:nth-of-type(2n + 1) {
        grid-column: span 2;
    }

    article:nth-of-type(3n + 3) {
        grid-column: span 1;
    }

    article:nth-of-type(3n + 4) {
        grid-column: span 2;
    }
}

/*==========================
=== Card PopUp
===========================*/
/*==========================
=== Rating fieldset
===========================*/
fieldset {
    text-align: center;
    border: none;
}

fieldset label {
    display: inline-block;
    text-align: center;
    font-size: 0;
    padding: .5rem;
}

fieldset input + label svg {
    transition: var(--def-transition);
    border: 0px solid var(--focus-color);
    border-radius: 100%;
}

fieldset input:focus, fieldset input:hover {
    outline: red;
}

fieldset input:focus + label svg, fieldset input:hover + label svg {
    border: 3px solid var(--focus-color);
}

fieldset svg {
    height: 2rem;
}
