@charset "UTF-8";

:root {
    --primary-font: 'Ampersand', 'Work Sans' ,'Raleway', sans-serif;
    --font-big2: 1.5em;
    --font-big: 1.2em;
    --font-normal: .9em;
    --font-small: .8em;
    --primary-color: #87ceeb;
    --primary-white: #fff;
    --blue: #3AA5F6;
    --black: #515057;
    --black2: #6b6972;
    --blacka-light: rgba(107, 105, 114, 0.7);
    --primary-gray: #F2F2F4;
    --primary-bg: #F8F9FA;
    --focus-color: tomato;
    --def-margin-head: 0 1.5rem 2rem 1.5rem;
    --border-radius: .8rem;
    --border-width: 3px;
    --max-width: 35rem;
    --width-constrain: 90vw;
    --def-transition: .3s all;
}

@media all and (min-width: 30rem) {
    --font-big: 1.1em;
  --font-small: .8em;
}

@font-face {
    font-family: Ampersand;
  src: local("Big caslon"), local("Bakery"), local("Athelas"), local("Baskerville"), local("Goudy Old Style"), local("Garamond"), local("Palatino");
  unicode-range: U+26;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==========================
=== Default/Reset styles
===========================*/
html {
    font-family: var(--primary-font);
    color: var(--black);
}

h1 {
    font-size: var(--font-big);
    font-weight: 900;
    margin: 0;
}

p {
    font-style: var(--font-normal);
    color: var(--black2);
}

img {
    width: 100%;
    object-fit: cover;
}

figure {
    max-width: max-content;
    margin: auto;
}

figure > img {
    max-width: inherit;
}

figcaption {
    padding: 1.5rem;
    padding-top: 1rem;
}

ul {
    padding: 0;
}

ol {
    display: flex;
    margin: 0 auto;
    width: var(--width-constrain);
    max-width: var(--max-width);
}

progress {
    display: flex;
    margin: 0 auto;
    width: var(--width-constrain);
    max-width: var(--max-width);
}

a {
    text-decoration: none;
    color: var(--black);
}

button:hover, button:focus,
[type="button"]:hover,
[type="button"]:focus {
    outline: none;
    cursor: pointer;
}

[type="radio"] {
    position: absolute;
    left: -999999em;
}

/*==========================
=== General focus object
===========================*/
button {
    justify-self: center;
    width: 100%;
    height: 2.2em;
    font-size: var(--font-big);
    font-weight: 500;
    color: var(--primary-color);
    background: none;
    border: var(--border-width) solid var(--primary-color);
    border-radius: 1.1em;
    transition: var(--def-transition);
}

button:focus, button:hover {
    color: var(--black);
    border-color: var(--black);
}

/* Our default behaviour for links outside a container*/
a[href="#content"] {
    position: absolute;
    top: .5rem;
    left: .5rem;
    display: inline-block;
    transition: var(--def-transition);
    border-radius: initial;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
}

a[href="#content"]:hover, a[href="#content"]:focus {
    outline: none;
    opacity: 1;
}

a[href="#content"]:hover::before, a[href="#content"]:focus::before {
    transform: translateX(0);
}

a[href="#content"]::before {
    content: "";
    position: absolute;
    bottom: .1em;
    width: 100%;
    height: .3em;
    background: var(--primary-color);
    transition: var(--def-transition) ease-in;
    transform: translateX(-120%);
    z-index: -1;
}

/* Our default behaviour for links in a container*/
nav a,
article footer a,
header a,
form a {
    display: inline-block;
    position: relative;
    transition: var(--def-transition);
    border-radius: initial;
    overflow: hidden;
}

nav a:focus, nav a:hover,
  article footer a:focus,
  article footer a:hover,
  header a:focus,
  header a:hover,
  form a:focus,
  form a:hover {
    outline: none;
}

nav a:focus::before, nav a:hover::before,
    article footer a:focus::before,
    article footer a:hover::before,
    header a:focus::before,
    header a:hover::before,
    form a:focus::before,
    form a:hover::before {
    transform: translateX(0);
}

nav a::before,
  article footer a::before,
  header a::before,
  form a::before {
    content: "";
    position: absolute;
    bottom: .1em;
    width: 100%;
    height: .3em;
    background: var(--primary-color);
    transition: var(--def-transition) ease-in;
    transform: translateX(-120%);
    z-index: -1;
}

@media all and (min-width: 35rem) {
    button {
        width: 35%;
        max-width: 20rem;
    }
}

/*==========================
=== Our keyframes here please
===========================*/
@keyframes wobble {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(5deg);
    }
}

@keyframes jumping {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-3px);
    }
}

@keyframes elastic-grow {
    from {
        transform: scale(0);
    }

    70% {
        transform: scale(1.1);
        animation-timing-function: ease-in5;
    }
}

/*==========================
=== Our containers
===========================*/
body {
    display: grid;
    padding-top: 2rem;
    background: var(--primary-bg);
    grid-template-areas: "header" "mainnav" "content" "footer";
}

main {
    grid-area: content;
    column-count: 1;
    column-gap: 1rem;
    padding: 0 1rem;
    transition: var(--def-transition);
}

@media all and (min-width: 40rem) {
    main {
        column-count: 2;
    }
}

@media all and (min-width: 50rem) {
    body {
        grid-template-areas: "header mainnav mainnav" "content content content" "footer footer footer";
    }

    main {
        column-count: 3;
    }
}

@media all and (min-width: 70rem) {
    main {
        column-count: 4;
    }
}

/*==========================
=== Header
===========================*/
header {
    grid-area: header;
    margin: var(--def-margin-head);
    color: var(--black);
}

header h1 {
    font-size: 3em;
}

/*==========================
=== The navigation
===========================*/
nav:first-of-type {
    grid-area: mainnav;
    position: relative;
    height: min-content;
    margin: var(--def-margin-head);
}

nav:first-of-type ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 1rem 0;
}

nav:first-of-type li {
    display: inline-block;
    position: relative;
    list-style: none;
}

nav:first-of-type ul ul {
    flex-direction: column;
    position: absolute;
    top: 2rem;
    opacity: 0;
    height: 0;
    width: 10rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: 1;
    background: var(--primary-white);
    box-shadow: 2px 5px var(--blacka-light);
}

nav:first-of-type ul ul:focus, nav:first-of-type ul ul:focus-within, nav:first-of-type ul ul:hover {
    visibility: visible;
    opacity: 1;
    height: auto;
}

nav:first-of-type a {
    border: 1rem solid transparent;
    border-right: 2rem solid transparent;
    background-clip: padding-box;
}

[href="products.html"]:hover + ul, [href="products.html"]:focus + ul, [href="products.html"]:focus-within + ul {
    visibility: visible;
    opacity: 1;
    height: auto;
}

@media all and (min-width: 40rem) {
    nav ul ul {
        width: 60%;
        max-width: 15rem;
    }
}

@media all and (min-width: 60rem) {
    nav ul {
        justify-content: flex-start;
    }
}

/*==========================
=== Card Main
===========================*/
article {
    position: relative;
    height: min-content;
    border-radius: var(--border-radius);
}

article a {
    display: inline-block;
    position: relative;
    transition: var(--def-transition);
    border-radius: var(--border-radius);
    overflow: hidden;
}

article img {
    max-height: 20rem;
    border-radius: var(--border-radius);
}

article h1, article p, article footer {
    margin-top: .3em;
}

article:nth-of-type(odd) > a {
    height: 100%;
    color: inherit;
    padding: 1rem;
    overflow: visible;
}

article:nth-of-type(odd) > a:focus, article:nth-of-type(odd) > a:hover {
    outline: none;
}

article:nth-of-type(odd) > a:focus div::before, article:nth-of-type(odd) > a:hover div::before {
    transform: rotate(3deg) translate(0.8rem, -0.8rem);
}

article:nth-of-type(odd) > a div {
    position: relative;
    border-radius: inherit;
}

article:nth-of-type(odd) > a div::before {
    content: "";
    position: absolute;
    height: 99%;
    max-height: 20rem;
    width: 100%;
    background: red;
    background: rgba(0, 0, 0, 0.2);
    border-radius: inherit;
    z-index: -1;
    transition: var(--def-transition);
}

article:nth-of-type(even) {
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    width: 90%;
    max-width: var(--max-width);
    background: var(--primary-white);
    margin: 0 auto;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: var(--def-transition);
    transform: scale(0);
}

article:nth-of-type(even):target {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    animation: elastic-grow .5s;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.3);
}

article:nth-of-type(even) > a:focus, article:nth-of-type(even) > a:hover {
    outline: none;
    color: var(--primary-color);
}

[href="#"] {
    position: absolute;
    top: .8em;
    right: 1.8rem;
    font-size: 2em;
    color: var(--primary-white);
}

[href="#"]:focus, [href="#"]:hover {
    animation: wobble 1s infinite alternate ease-in-out;
}

/*==========================
=== Rating fieldset
===========================*/
fieldset {
    text-align: center;
    border: none;
    border-top: 1px solid var(--primary-color);
}

fieldset label {
    display: inline-block;
    text-align: center;
    font-size: 0;
    padding: .5rem;
}

fieldset input + label svg {
    border: 0px solid var(--focus-color);
    border-radius: 100%;
    transition: var(--def-transition);
}

fieldset input:focus + label svg, fieldset input:hover + label svg {
    opacity: 1;
}

fieldset svg {
    height: 2rem;
    opacity: .5;
}

legend {
    padding: 0 1em;
}

[type="radio"]:checked + label svg {
    opacity: 1;
    transform: scale(1.1);
    animation: jumping .6s infinite alternate ease-out;
}

/*==========================
=== Chat/Contact
===========================*/
nav + ol {
    grid-area: content;
    flex-direction: column;
}

nav + ol li {
    display: inline-block;
    max-width: 18rem;
    margin-bottom: 1rem;
}

nav + ol li > h1 {
    font-size: calc(var(--font-big) * 2);
    margin: 2rem 0;
}

nav + ol li > p {
    padding: 1rem;
    border-radius: 1rem;
}

nav + ol li:nth-of-type(odd) {
    margin-left: auto;
}

nav + ol li:nth-of-type(odd) > p {
    background-color: var(--primary-gray);
}

nav + ol li:nth-of-type(even) > p {
    background-color: var(--blue);
    color: var(--primary-white);
}

nav + ol li:first-of-type {
    margin: 0;
}

nav + ol li footer {
    margin-top: .3rem;
}

nav + ol li footer p {
    font-size: var(--font-small);
    padding: 0 1rem;
}

nav + ol + form {
    grid-area: footer;
    align-self: center;
    justify-self: center;
    width: var(--width-constrain);
    max-width: var(--max-width);
    margin-top: 1.5rem;
}

nav + ol + form label {
    position: absolute;
    visibility: hidden;
}

nav + ol + form button {
    width: var(--width-constrain);
    max-width: var(--max-width);
}

textarea {
    font-size: var(--font-normal);
    width: 100%;
    max-width: var(--max-width);
    height: 3rem;
    background: var(--primary-white);
    margin: 0 auto;
    margin-bottom: 1rem;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem;
}

/*==========================
=== The loginform
===========================*/
[method="get"] {
    grid-area: content;
    display: grid;
    height: 100%;
    margin-top: 2rem;
    justify-content: center;
}

[method="get"] h1 {
    font-size: calc(var(--font-big) * 2);
    margin-bottom: 1rem;
}

[method="get"] div {
    position: relative;
}

[method="get"] div label {
    position: absolute;
    top: 30%;
    left: 1rem;
    font-size: var(--font-big);
    transition: var(--def-transition);
}

[method="get"] div:last-of-type {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

[method="get"] div:last-of-type label {
    position: initial;
    font-size: var(--font-normal);
}

[method="get"] > a {
    margin: 1rem auto 0 auto;
    border-bottom: 1rem solid transparent;
    font-size: var(--font-normal);
}

[method="get"] > a:last-of-type {
    width: max-content;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    text-align: center;
}

[method="get"] [type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

[method="get"] [type="checkbox"]:checked + label::before {
    content: '\2713';
}

[method="get"] [type="checkbox"]:focus + label::before, [method="get"] [type="checkbox"]:hover + label::before {
    box-shadow: 0 0 0.1em 0.1em var(--primary-color);
}

[method="get"] [type="checkbox"] + label::before {
    content: '\a0';
      /* non-break space */
    display: inline-block;
    vertical-align: .1rem;
    width: 1rem;
    height: 1rem;
    color: var(--primary-color);
    margin-right: .4rem;
    border: 2px solid var(--primary-color);
    border-radius: .1rem;
    background: var(--primary-white);
    text-indent: .15rem;
    line-height: .65;
    transition: var(--def-transition);
}

[method="get"] input:not([type="checkbox"]) {
    height: 4em;
    margin: 0 auto;
    width: var(--width-constrain);
    max-width: var(--max-width);
    font-size: var(--font-big);
    margin-bottom: 1.5rem;
    border: none;
    padding: 0 1rem;
    padding-top: 1rem;
    border-bottom: 0 solid var(--primary-color);
    transition: var(--def-transition);
}

[method="get"] input:not([type="checkbox"]):focus {
    outline: none;
    border-bottom: var(--border-width) solid var(--primary-color);
}

[method="get"] input:not([type="checkbox"]):focus::-webkit-input-placeholder {
    opacity: 1;
}

[method="get"] input:not([type="checkbox"])::-webkit-input-placeholder {
    opacity: 0;
    transition: var(--def-transition);
}

[method="get"] input:not([type="checkbox"]):focus + label,
    [method="get"] input:not([type="checkbox"]):not(:placeholder-shown) + label {
    font-size: var(--font-small);
    top: .6rem;
    color: var(--primary-color);
}

@media all and (min-width: 35rem) {
    [method="get"] > a:last-of-type {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
    }
}

/*==========================
=== Stepindicator
===========================*/
nav + nav {
    grid-area: content;
    width: 100%;
    max-width: var(--max-width);
    margin: 1.5rem auto;
}

nav + nav h1 {
    font-size: calc(var(--font-big) * 2);
    margin-bottom: 1.5rem;
}

nav + nav + article {
    grid-area: footer;
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 2rem;
}

nav + nav ol {
    max-width: 25rem;
    flex-direction: row;
    justify-content: space-between;
}

nav + nav ol li {
    list-style: none;
}

nav + nav ol a {
    font-size: var(--font-small);
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}

nav + nav progress {
    position: relative;
    color: var(--primary-color);
    width: 100%;
    max-height: .5rem;
    border-radius: 1rem;
    margin-top: .8rem;
}

nav + nav progress::before {
    content: "I was forced to do this 😄";
    transition: var(--def-transition);
    opacity: 0;
    position: absolute;
    top: .8rem;
}

nav + nav progress:hover::before {
    opacity: 1;
}

nav + nav progress::-webkit-progress-bar {
    overflow: hidden;
    background: #fff;
    border-radius: 1rem;
}

nav + nav progress::-webkit-progress-value {
    border-radius: 1rem 0 0 1rem;
    background: #ccffff;
    background-image: linear-gradient(90deg, var(--primary-color) 0.8rem, transparent 0), linear-gradient(90deg, #8d9eff 1.75rem, transparent 0), linear-gradient(90deg, #7e78d6 2.3rem, transparent 0);
    background-size: 3rem 100%, 5rem 100%, 7rem 100%;
}

nav + nav progress::-moz-progress-bar {
    background: var(--primary-color);
}

nav + nav [aria-label] {
    color: var(--primary-color);
    font-size: var(--font-normal);
}
