:root {
	--primary-font: 'Ampersand', 'Work Sans' ,'Raleway', sans-serif;
	--font-big2: 1.5em;
	--font-big: 1.2em;
	--font-normal: .9em;
	--font-small: .8em;
	
	// The colors
	--primary-color: #87ceeb;
	--primary-white: #fff;
	--black: rgb(81, 80, 87);
	--black2: rgb(107, 105, 114);
	--primary-gray: #F2F2F4;
	--primary-bg: #F8F9FA;

// Other stuff....
	--focus-color: tomato;

	--border-radius: .8rem;
	--border-width: 3px;

	--def-transition: .3s all;
}

@media all and (min-width) {
	--font-big: 1.1em;
	--font-small: .8em;
}

@font-face {
	font-family: Ampersand;
	src: local('Big caslon'), local('Bakery'), local('Athelas'), local('Baskerville'), local('Goudy Old Style'), local('Garamond'), local('Palatino');
	unicode-range: U+26;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/*==========================
=== Default/Reset styles
===========================*/

html {
    font-family: var(--primary-font);
}


h1 {
	font-size: var(--font-big);
	font-weight: 900; 
	margin: 0;
	color: var(--black);
}

p {
	font-style: var(--font-normal);
	color: var(--black2);
}

img {
    width: 100%;
   //  height: 100%;
    object-fit: cover;
}

figure {
	max-width: max-content;
	margin: auto;
}

figure > img { max-width: inherit; }

figcaption {
    padding: 1.5rem;
}

ul {
    padding: 0;
}

a {
	text-decoration: none;
}

[type="radio"] {
	position: absolute;
	left: -999999em;
}

/*==========================
=== General focus object
===========================*/
:focus {
	// background: pink;
	// outline: none;
}

button {
	justify-self: center;
	width: 100%;
	height: 2.2em;

	font-size: var(--font-big);
	font-weight: 500;

	color: var(--primary-color);
	// background: #ccc;
	background: none;

	border: var(--border-width) solid var(--primary-color);
	border-radius: 1.1em;

	transition: var(--def-transition);

	&:focus,
	&:hover {
		// looping transition animation from color?
		color: var(--black);
		border-color: var(--black);
	}
}

@media all and (min-width: 35rem) {
	button {
		width: 35%;
		max-width: 20rem;
	}
}

/*==========================
=== Our keyframes here please
===========================*/
@keyframes wobble {
	from {
	  transform: rotate(-5deg);
	}
 
	to {
		transform: rotate(5deg);
	}
 }


/*==========================
=== Our containers
===========================*/
body {
	display: grid;
	padding-top: 2rem;
	background: var(--primary-bg);
	// grid-template-areas: 
	// 	"header"
	// 	"content"
	// 	"mainnav"
	// ;
	grid-template-areas: 
		"header mainnav"
		"content content"
	;
}

main {
	grid-area: content;
	display: grid;
	grid-gap: 1rem;
	// grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	grid-auto-rows: minmax(120px, auto);
	grid-auto-flow: dense;

	padding: 0 1rem;
	
	// transition: .6s background;
	transition: var(--def-transition);
}

@media all and (min-width: 40rem) {
	// body {
	// 	grid-template-areas: 
	// 	"header mainnav"
	// 	"content content"
	// ;
	// }

	main {
		grid-template-columns: repeat(3, 1fr);	
	}
}

@media all and (min-width: 50rem) {
	body {
		grid-template-areas: 
		"header mainnav mainnav"
		"content content content"
		;
	}

	main {
		grid-template-columns: repeat(4, 1fr);	
	}
}

@media all and (min-width: 70rem) {
	main {
		grid-template-columns: repeat(6, 1fr);	
	// grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
	}
}




/*==========================
=== Header
===========================*/

header {
	grid-area: header;
	// position: relative;
	margin: 0 1.5rem;

	nav {
		// position: fixed;
	}

	h1 {}
	p {}

}


/*==========================
=== The navigation
===========================*/

nav {
	grid-area: mainnav;
	ul {
		//  display: grid;
		//  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
		 // grid-auto-columns: auto;
		 // grid-template-rows: 1fr;
		 // align-items: center;
	}

	li {
		 list-style: none;
	}

	ul ul {
		// position: fixed;
		// right: 20em;
		visibility: hidden;
		opacity: 0;
		height: 0;
		
		&:focus,
		&:focus-within {
			visibility: visible;
			opacity: 1;
			height: auto;
		}
	}
}

[href="/products"] {
	&:hover,
	&:focus,
	&:focus-within {
		+ul {
			opacity: 1;
			height: auto;
		}
	}	
}

/*==========================
=== The loginform
===========================*/

// Should be post but we do not have a server with response here
// Is a form element btw
[method="get"] {
		grid-area: content;
		display: grid;
		// grid-template-rows: 1fr 1fr 1fr;
		height: 100%;
		margin-top: 4rem;

		justify-content: center;

		div {
			position: relative;
			label {
				position: absolute;
				top: 30%;
				left: 1rem;
				font-size: var(--font-big);
				transition: var(--def-transition);
			}
			
		}

		input:not([type="checkbox"]) {
			height: 4em;
			margin: 0 auto;
			// width: 75%;
			width: 90vw;
			max-width: 35rem;;

			font-size: var(--font-big);
			border: none;
			padding: 0 1rem;
			// border-radius: 2.5em;
			// background: var(--primary-white);
			border-bottom: 0 solid var(--primary-color);

			transition: var(--def-transition);

			&:focus {
				outline: none;
				border-bottom: var(--border-width) solid var(--primary-color);
				&::-webkit-input-placeholder {
					opacity: 1;
				}
			}

			&::-webkit-input-placeholder {
				opacity: 0;
				transition: var(--def-transition);
			}

			&:focus + label,
			&:not(:placeholder-shown) + label, {
				font-size: var(--font-small);	
				top: .6rem;			
				color: var(--primary-color);
			}
		}

	}

/*==========================
=== Card Main
===========================*/

article {
	// background: var(--primary-white);
	height: min-content;

	border-radius: var(--border-radius);
	padding: 1rem;
	
	transition: var(--def-transition);
	// box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	&:focus,
	&:hover {
		background: rgba(0,0,0,.1);
	}

	img {
		border-radius: var(--border-radius);
	}
	
}

// Easier to read like this
article:nth-of-type(even) {	
	position: fixed;
	top: 5%;
	left: 0;
	right: 0;
	width: 90%;
	max-width: 35rem;

	background: var(--primary-white);
	margin: 0 auto;

	visibility: hidden;
	opacity: 0;

	transition: var(--def-transition);
	&:target {
		visibility: visible;
		opacity: 1;
		box-shadow: 0 0 0 50vmax rgba(0,0,0,.3);
	}
}


// The close icon in the modal cards
[href="#"] {
	position: absolute;
	top: .8em;
	right: 1.8rem;
	font-size: 2em;
	color: var(--primary-white);

	&:focus,
	&:hover {
		animation: wobble 1s infinite alternate ease-in-out;
	}
}


@media all and (min-width: 40rem) {
	article {
		&:nth-of-type(2n + 1) {
			grid-column: span 2;
		}

		&:nth-of-type(3n + 3) {
			grid-column: span 1;
		}

		&:nth-of-type(3n + 4) {
			grid-column: span 2;
		}


		&:nth-of-type(even) {
			// width: 
		}
	}
}


/*==========================
=== Card PopUp
===========================*/



/*==========================
=== Rating fieldset
===========================*/
fieldset {
	text-align: center;
	border: none;

 label {
	 display: inline-block;
	 text-align: center;
	 font-size: 0;
	 padding: .5rem;
 }

 input {
	 &+label {
		 svg {
			 transition: var(--def-transition);
			 border: 0px solid var(--focus-color);
			 border-radius: 100%;
		 }
	 }

	 &:focus,
	 &:hover {
		 outline: red;
		 &+label svg {
			 border: 3px solid var(--focus-color);
		 }
	 }
 }

 svg {
	 height: 2rem;
 }
}
